@font-face {
  font-family: 'OpenDyslexic';
  font-weight: normal;
  src: local('OpenDyslexic'),
    url(./fonts/OpenDyslexic-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'OpenDyslexic';
  font-weight: bold;
  src: local('OpenDyslexic'),
    url(./fonts/OpenDyslexic-Bold.otf) format('opentype');
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'OpenDyslexic', sans-serif;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.center {
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

button {
  cursor: pointer;
}
